th, td, p, input {
    font:14px Verdana;
}
table {
  padding-top: 10%;
}
table, th, td 
{
    vertical-align: middle;
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
}
td:first-child {
  border: solid 0px #DDD;
  height: 40px;
  font-weight: bold;
  border-bottom: none;
}
.dot_Red{
  background-color: red;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
}
.dot_Blue{
  background-color: blue;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
}
.dot_Yellow{
  background-color: yellow;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
}
.dot_Green{
  background-color: green;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
}
th {
    font-weight:bold;
    background: antiquewhite;
    font-size: 200%
}

.table.border{
    background-color: whitesmoke;
    display: inline-block;
    border-radius: 5%;
    padding: 5%;
}

h1 {
   text-align: center;
   text-decoration: underline;
   font-size: 50px
}

div.main{
    border: black;
    background: white;
    width: 900px;
    margin-left:auto; 
    margin-right:auto;
    box-shadow: 10px 10px 5px grey;
    border-radius: 5%;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
  }
  
  /* Left and right column */
  .column.side {
    width: 25%;
    align-content: center

  }
  
  /* Middle column */
  .column.middle {
    
    /* width: 75%; */
    text-align: center;
  }

  header {
      text-align: center;
      padding: 20px;
  }

  body {
      background:lightgrey;
      align-content: center;
  }

  .button {
    background-color: gray; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

    border-radius: 5px;
  }